/*Base CSS across pages*/

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: auto;
}


/*skip content*/

.skip {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
    color: #E3AD02;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    position: fixed;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 999;
}

html,
body,
header,
footer {
    background-color: #211D24;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    
}

header,
footer,
.logo {
    background-color: #211D24;
    color: #DDDDDA;
}

body {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rajdhani', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.main-content {
    flex: 1 0 auto;
    margin-top: 110px;
}

.about,
.work,
.crafts,
.contact {
    margin: auto;
    padding-right: 3%;
    padding-left: 3%;
}


/*Header and Nav*/

header {
    font-family: 'Rajdhani', sans-serif;
    font-size: 105%;
    box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
    width: 100%;
    position: fixed;
}


/*mobile-first*/

.top-nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #211D24;
    margin: 0;
    display: none;
}

.top-nav ul li,
.menu-icon {
    border-top: 1px solid #ECECEA;

}

.top-nav ul li a {
    font-size: 1em;
    color: #DDDDDA;
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    text-align: center;
}

.menu-icon a {
    font-size: 1em;
    color: #DDDDDA;
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    text-align: center;
}

/*currently viewed nav bar link highlighted*/
.top-nav ul li a.current-page {
    color: #F54320;
    font-weight: bold;
}

.top-nav ul li a.current-page:before {
    content: "\27A4  ";
    color: #F54320;
    padding-right: 4px;
    position: relative;
    top: 1px;
}

.top-nav ul li a:hover,
.menu-icon a:hover,
.top-nav ul li a:focus,
.menu-icon a:focus {
    background-color: black;
    color: #DDDDDA;
    font-weight: bold;
}

.top-nav ul li a:hover:before,
.top-nav ul li a:focus:before {
    content: "\27A4  ";
    color: #DDDDDA;
    padding-right: 4px;
    position: relative;
    top: 1px;
}

/*Menu drop down for mobile*/

.top-nav.toggle-open ul {
    display: block;
}


/*Logo*/

.logo {
    background-color: #211D24;
    margin: 0;
    text-align: center;
    padding: .25em .75em;
}

.logo img {
    height: 3em;
}


/*Footer*/

footer {
    
    text-align: center;
    box-shadow: 0px -10px 30px 2px rgba(141, 141, 139, .75);
}

footer p {
    padding-top: .5em;
    padding-bottom: .75em;
}

/*Footer Social Media Icons*/

.icon {
    padding: .5em .25em 0;
    height: 25px;
}

.icon:hover {
    opacity: 0.5;
}


/*Home Page*/

.body-home {
    background: url("../img/parana.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


.home-flag {
    background-color: #ececea;
    color: #211d24;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding: 1.5em;
    box-shadow: 0px 8px 10px gray, -10px 8px 15px gray, 10px 8px 15px gray;
}



/*Name, Major, School Card*/
#name,
p {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

#name span {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: black;
    font-weight: lighter;
}


#school {
    font-family: "Quicksand", sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
   
}

#major {
    font-family: "Quicksand", sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 0;
}

#minor {
    font-family: "Quicksand", sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    padding: 0;
}


#job {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.25em;
    padding: 0.55em;
}


/*About Page*/

.body-about {
    background: url("../img/northern-lights.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


.text-container {

    width: 98%;
    margin-top: 0;
    margin-bottom: 3%;

}

#main-content {
    border: 1px solid lightgrey;
    border-radius: 15px;

}

.text-container p {
    font-family: "Raleway", sans-serif;
    color: white;
}

.text-container h1 {
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #ccc6c6;
    font-size: 45px;
    
}
.text-container h2 {
    color: white;
    text-align: center;
    font-size: 2em;
}

.text-container #quote {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 2.0em;
}


/*Work Page*/
.body-work {
    background-image: url("../img/blackbg.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

}
.resume {
    text-align: center;
}
.work-about {
    color: white;
    text-align: center;
}

.work-about h1 {
    font-family: 'Roboto Mono', monospace;
}

.work-about .text-container {

    width: 98%;
    margin-top: 0;
    margin-bottom: 3%;

}


/*-----Photos PAGE ------*/

.main-content-life {
    margin-top: 125px;
}

.life h1 {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    text-align: center;
}

.life {
    display: block;
    margin: auto;
    max-width: 1200px;
}

.photo-cell {
    margin-bottom: 2%;
    margin-left: 2%;
}

.overlay {
  position: relative;
  opacity: 0;
  transition: .5s ease;
  background-color: #211D24;
}

.photo-cell:hover .overlay {
  opacity: 1;
}


.text {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.photo-cell img {
    width: 98%;
    display: block;
    box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}
