/*https://stackoverflow.com/questions/17069972/css-make-inline-block-elements-span-the-whole-width-of-container*/

.row {
  display: flex;
}

.block {
	flex: 1 1 100%;
	text-align: center;
	border: 5px solid blue;
	padding: 5%;
}

body {
    background: url("../images/sun-pattern.png");
    
}