* {
    margin: auto;
}

header {
    background-color: yellow;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    text-align: right;


}

nav ul li {
    display: inline-block;
    background-color: black;
    padding-left: 30px;
    padding-right: 10px;
    height: 33px;
    padding-top: 7px;
    list-style: none;

    
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav {
    background-color: green;
    text-align: center;
    height: 40px;
    font-size: 20px;
    text-decoration: none;

}


footer {
    background-color: green;
    height:50px;   

   
}

aside {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 20%;
    height: 100%;
    background-color: white;
    background-image: url('http://www.literarygenius.info/images/william-shakespeare.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    

}

#content {
    display: inline-block;
    width: 80%;
    position: relative;
    background: #54575b;


}

#content ul {
    text-align: center;
    list-style: none;
}
body {
    background-color: gray;
}
.copyright {
    padding-top: 10px;
}

#wrap {
    height: 80%;
    width: 80%;
    position: relative;
    overflow: hidden;
}
